body {
    /* margin: 0;
    overflow: hidden; */
    background-color: #000; /* Set background color for better visibility */
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    transform-origin: center;
}
